<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxuan66.ecmc.modules.account.mapper.AccountSkillMapper">


    <!-- 批量插入 -->
    <insert id="batchInsert">
        INSERT INTO corp_account_skill VALUES
        <foreach collection="list" item="item" separator=",">
            (null,#{item.userId},#{item.accountId},#{item.characterId},#{item.characterName},#{item.skillId},#{item.skillName},#{item.activeSkillLevel},#{item.skillPointsInSkill},#{item.trainedSkillLevel},#{item.createTime},#{item.createId},#{item.createBy},null,null,null)
        </foreach>
    </insert>

</mapper>