<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<table cellspacing="0" cellpadding="0" width="760px" style="border-spacing: 0; color: #333333; border: 1px solid #f1f1f1; margin-left: auto; margin-right: auto;padding-top: 50px;padding-bottom: 20px">
    <tbody><tr>
        <td width="760" style="text-align: center;margin-top: 200px">
            <img src="http://localhost:3100/src/assets/images/logo.png" width="48" height="48" style="display: block;top: 100px;margin: auto;">
        </td>
    </tr>
    <tr>
        <td width="720" style="padding-left: 20px; padding-right: 20px; background: url(http://mobile.12306.cn/weixin/resources/weixin/images/mail/mail_train.jpg); background-position: bottom right; background-repeat: no-repeat;">
            <table cellspacing="0" cellpadding="0" width="720px" style="border-spacing: 0; color: #333333;">
                <tbody><tr>
                    <td width="720" style="font-size: 16px; height: 40px; font-weight: bold;">
                        o7 <span style="color: #ff764c;">飞行员：</span>
                    </td>
                </tr>

                <tr>
                    <td width="720" style="padding-top: 10px; padding-bottom: 10px;">
                        <div style="border-top: 1px dashed #e9ecf0; border-bottom: 1px dashed #e9ecf0; color: #000000; font-size: 14px; padding-top: 10px; padding-bottom: 10px;">
                            <div style="line-height: 20px; color: #000000; padding-top: 5px; padding-bottom: 5px; font-weight: bold;">
                               您在<span style="border-bottom:1px dashed #ccc;" t="5">{time}</span> 申请了重置登录密码
                            </div>


                            <div style="line-height: 20px; color: #000000; padding-top: 5px; padding-bottom: 5px; font-weight: bold;">
                                为了确保您的账号安全和网站运行秩序，请不要提供验证码给别人。
                            </div>
                            <div style="line-height: 20px; color: #000000; padding-top: 5px; padding-bottom: 5px; font-weight: bold;">
                                您的验证码是：{code}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="720" valign="middle" style="font-size: 16px; color: #ff764c; padding-top: 15px; padding-bottom: 15px;">
                        <img src="http://mobile.12306.cn/weixin/resources/weixin/images/mail/mail_tips.jpg" width="18" height="18" style="vertical-align: -2px; margin-right: 10px;">温馨提示</td>
                </tr>
                <tr>
                    <td width="720" style="font-size: 12px;">
                        <div style="line-height: 20px; margin-bottom: 10px; font-size: 12px;">
                            请牢记 验证码是保护您的唯一途径，为了您的账号安全请不要提供给他人。
                        </div>


                        <div style="line-height: 20px; margin-bottom: 10px; font-size: 12px;">
                            感谢您使用混沌仲裁者军团管理系统<span style="color: #ff764c;">hd-eve.com</span>！
                            本邮件由系统自动发出，请勿回复。
                        </div>
                        <div style="line-height: 20px; margin-bottom: 10px; font-size: 12px;">祝您的朋友（们）飞行安全！
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="720">
                        <table cellspacing="0" cellpadding="0" width="720px" style="border-spacing: 0; color: #333333;">
                            <tbody><tr>
                                <td></td>
                                <td width="200" style="text-align: center; height: 24px; font-size: 12px;">
                                    <img src="http://mobile.12306.cn/weixin/resources/weixin/images/mail/mail_logo.jpg" width="20" height="20" style="vertical-align: bottom; margin-right: 10px;">混沌仲裁者服务中心
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td width="720" style="padding-top: 10px; padding-bottom: 15px;">
                        <img src="http://mobile.12306.cn/weixin/resources/weixin/images/mail/mail_line.jpg">
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    </tbody></table>

</body>
</html>