<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxuan66.ecmc.cache.mapper.BluePrintProductsMapper">

    <!-- 批量插入 -->
    <insert id="batchInsert">
        INSERT INTO eve_blue_print_products VALUES
        <foreach collection="list" item="item" separator=",">
            (null,#{item.bluePrintId},#{item.type},#{item.productsId},#{item.productsName},#{item.productsNameEn},
            #{item.productsQuantity},#{item.probability},
            now())
        </foreach>
    </insert>

</mapper>