<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxuan66.ecmc.modules.system.mapper.RolesMenusMapper">


    <!-- 批量插入用户与角色的关联 -->
    <insert id="batchInsert">
        insert into sys_roles_menus values
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId},#{item.menuId},#{item.virtually})
        </foreach>
    </insert>



</mapper>